@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


/* Scroll up button */

.scroll-up-btn {
    position: fixed;
    height: 45px;
    width: 42px;
    background: crimson;
    right: 30px;
    bottom: 30px;
    color: #fff;
    line-height: 45px;
    font-size: 25px;
    z-index: 9999;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    text-align: center;
    transition: all 0.3 ease;
}

.scroll-up-btn.show {
    bottom: 30px;
    opacity: 1;
    pointer-events: none;
}

.navbar {
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    /* background-color: black; */
    z-index: 999;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.navbar.sticky {
    padding: 12px 0px;
    background-color: black;
    transition: padding 0.2s ease-in-out;
}

.navbar.sticky .logo a span {
    color: rgb(4, 183, 238);
    transition: color 0.2s ease-in-out;
}

.navbar .max-width {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 35px;
    color: whitesmoke;
    font-weight: 900;
}

.navbar .logo a span {
    color: crimson;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}

.navbar .menu li a {
    display: block;
    color: white;
    margin-left: 25px;
    font-weight: 500;
    font-size: 20px;
    font-weight: 400;
    transition: color 0.5s ease-in-out;
}

.navbar .menu li a:hover {
    color: crimson;
}

.navbar.sticky .menu li a:hover {
    color: rgb(223, 219, 219);
}

.home {
    display: flex;
    color: white;
    background: url(Img//workspace-1280538_1920.jpg)no-repeat center;
    height: 100vh;
    min-height: 500px;
}

.home .max-width {
    margin: auto 0 auto 40px;
}

.home .home-content {
    color: black;
}

.home .home-content .text-1 {
    font-size: 35px;
    font-weight: 800;
    font-style: italic;
}

.home .home-content .text-2 {
    font-size: 75px;
    font-weight: 800;
    margin-left: -4px;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.home .home-content .text-3 {
    font-size: 35px;
    font-style: italic;
    font-weight: 400;
    margin: 5px 0;
}

.home .home-content .text-3 span {
    color: rgb(133, 34, 54);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 900;
}

.menu-btn {
    color: whitesmoke;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.home .home-content a {
    display: inline-block;
    color: whitesmoke;
    font-size: 22px;
    background-color: rgb(133, 34, 54);
    border-radius: 10px;
    margin-top: 30px;
    padding: 8px 5px 8px 5px;
    border: 2px solid rgb(133, 34, 54);
    transition: all 0.3s ease-out;
}

.home .home-content a:hover {
    color: crimson;
    font-weight: bold;
    background: none
}


/* Similar Styling code for section */


/* all similar content styling codes */

section {
    padding: 100px 0;
}

.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

.about,
.services,
.skills,
.teams,
.contact,
footer {
    font-family: 'Poppins', sans-serif;
}

.about .about-content,
.services .serv-content,
.skills .skills-content,
.contact .contact-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

section .title {
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}

section .title::before {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}

section .title::after {
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}

.about .about-content,
.services .serv-content,
.skills .skills-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}


/* About Styling */

.about .title::after {
    content: "Who I am";
    position: absolute;
    font-size: 20px;
    background: white;
    bottom: -8px;
    padding-left: 10px;
    padding-right: 10px;
    color: crimson;
    left: 50%;
    transform: translateX(-50%);
}

.services .title::after {
    content: "what I Provide's";
    position: absolute;
    font-size: 20px;
    background: white;
    bottom: -8px;
    padding-left: 10px;
    padding-right: 10px;
    color: crimson;
    left: 50%;
    transform: translateX(-50%);
}

.max-width img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.about .about-content .left {
    width: 45%;
}

.about .about-content .right {
    width: 55%;
}

.about .about-content .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.about .about-content .text span {
    color: crimson;
}

.about .about-content p {
    color: black;
    font-weight: 400;
    font-family: serif;
    text-align: justify;
}

.about .about-content a {
    display: inline-block;
    color: whitesmoke;
    font-size: 22px;
    background-color: rgb(133, 34, 54);
    border-radius: 10px;
    margin-top: 30px;
    padding: 5px 20px;
    border: 2px solid rgb(133, 34, 54);
    transition: all 0.3s ease-out;
}

.about .about-content a:hover {
    color: crimson;
    background: none;
}


/* Services Section Styling */

.services {
    color: white;
    background: black;
}

.services .title::after {
    background: black;
}

.services .title::before {
    background: white;
}

.services .serv-content .card {
    width: calc(33% - 33px);
    background: #222;
    text-align: center;
    padding: 20px 25px;
    border-radius: 10px;
    cursor: pointer;
}

.services .serv-content .card i {
    font-size: 50px;
    color: crimson;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 600;
    margin: 15px 0px 10px 0px;
}

.services .serv-content .card .box {
    transition: all 0.3s ease-in-out;
}

.services .serv-content .card:hover {
    background: crimson;
}

.services .serv-content .card:hover .box {
    transform: scale(1.15);
}

.services .serv-content .card:hover .box i {
    transform: scale(1.15);
    color: white;
}

.services .serv-content .card:hover .text {
    color: rgb(0, 0, 0);
}


/* Skills Section Styling */

.skills .title::after {
    content: "what I Provide's";
    position: absolute;
    font-size: 13px;
    background: white;
    bottom: -8px;
    padding-left: 10px;
    padding-right: 10px;
    color: crimson;
    left: 50%;
    transform: translateX(-50%);
}

.skills .skills-content .column {
    width: calc(50% - 30px);
}

.skills .skills-content .column .text {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.skills .skills-content .column .bars {
    margin-bottom: 15px;
}

.skills .skills-content .right .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.skills .skills-content .right .info span {
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .right .line {
    height: 5px;
    width: 100%;
    background: black;
    position: relative;
}

.skills .skills-content .right .line::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 50%;
    left: 0;
    top: 0;
    background: crimson;
}

.skills .skills-content .left p {
    text-align: justify;
}

.skills .skills-content .left a {
    display: inline-block;
    color: whitesmoke;
    font-size: 18px;
    background-color: rgb(133, 34, 54);
    border-radius: 10px;
    margin-top: 30px;
    padding: 5px 20px;
    border: 2px solid rgb(133, 34, 54);
    transition: all 0.3s ease-in;
}

.skills .skills-content a:hover {
    color: crimson;
    background: none;
}

.skills .skills-content .right .html::before {
    width: 90%;
}

.skills .skills-content .right .CSS::before {
    width: 70%;
}

.skills .skills-content .right .JS::before {
    width: 50%;
}

.skills .skills-content .right .NodeJs::before {
    width: 30%;
}

.skills .skills-content .right .MySQL::before {
    width: 30%;
}


/* teams section styling */

.teams .title::after {
    content: "who with me";
}

.teams .carousel .card {
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover {
    background: crimson;
}

.teams .carousel .card .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover .box {
    transform: scale(1.05);
}

.teams .carousel .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}

.teams .carousel .card img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid crimson;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover img {
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 20px;
}

.owl-dot {
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none!important;
    border-radius: 50%;
    border: 2px solid crimson!important;
    transition: all 0.3s ease;
}

.owl-dot.active {
    width: 35px;
    border-radius: 14px;
}

.owl-dot.active,
.owl-dot:hover {
    background: crimson!important;
}

.teams {
    color: white;
    background: black;
}


/* Contact Section */

.contact .title::after {
    content: "Get in Touch";
}

.contact .contact-content .column {
    width: calc(50% - 30px);
}

.contact .contact-content.text {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.contact .contact-content .left p {
    text-align: justify;
}

.contact .contact-content .left .icon {
    margin: 10px 0;
}

.contact .contact-content .row {
    display: flex;
    height: 65px;
    align-items: center;
}

.contact .contact-content .row .info {
    margin: 30px;
}

.contact .contact-content .row i {
    font-size: 20px;
    color: crimson;
}

.contact .contact-content .column .head {
    font-weight: 800;
}

.contact .contact-content .column .sub-title {
    font-size: 15px;
    color: darkred;
    font-weight: 800;
}

.contact .right form .fields {
    display: flex;
}

.contact .right form .field,
.contact .right form .fields .field {
    height: 45px;
    width: 100%;
    margin-bottom: 10px;
}


/* .contact .s */

.contact .right form .textarea {
    height: 80px;
    width: 100%;
}

.contact .right form .name {
    margin-right: 10px;
}

.contact .right form .Email {
    margin-left: 10px;
}

.contact .right form .field input {
    height: 100%;
    width: 100%;
    border: 1px solid lightblue;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif
}

.contact .right form .button {
    height: 35px;
    width: 120px;
}

.contact .right form .button button {
    width: 100%;
    height: 100%;
    color: white;
    background: crimson;
    border: 2px solid crimson;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.5s ease-in-out;
}

.contact .right form .button:hover button {
    color: green;
    background: none;
}

.contact .right form .btn:hover {
    transform: scale(1.10);
}


/* Footer Styling section */

footer {
    text-align: center;
    color: #fff;
    background: #222;
    padding: 20px 23px;
}

footer span a {
    color: crimson;
    text-decoration: none;
}

footer span a:hover {
    color: crimson;
    text-decoration: underline;
}


/* Responsive Media Query */

@media (max-width:1300px) {
    .home .max-width {
        margin-left: 0px;
    }
    .home .home-content a {
        font-size: 18px;
        padding: 8px 20px;
    }
}

@media (max-width:1265px) {
    .about .about-content .left img {
        height: 350px;
        width: 350px;
    }
}

@media (max-width:991px) {
    .max-width {
        padding: 0 50px;
    }
    .home .home-content a {
        font-size: 15px;
        padding: 6px 15px;
    }
    .contact .contact-content .column {
        width: 100%;
    }
}

@media (max-width:1200px) {
    .about .about-content .column {
        width: 50%;
    }
}

@media (max-width:1178px) {
    .about .about-content .right .text {
        font-size: 20px;
    }
}

@media (max-width:950px) {
    .max-width {
        padding: 0 50px;
    }
    .menu-btn {
        display: block;
        z-index: 999;
    }
    .menu-btn:hover {
        color: crimson;
    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background-color: black;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease-in-out;
    }
    .navbar .menu.active {
        left: 0;
    }
    .menu-btn i.active::before {
        content: "\f00d";
    }
    .navbar .menu li {
        display: block;
    }
    .navbar .menu li a {
        display: inline-block;
        margin: 20px;
        font-size: 20px;
    }
    .home .home-content .text-2 {
        font-size: 60px;
    }
    .home .home-content .text-3 {
        font-size: 35px;
    }
    .services .serv-content .card {
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .column {
        width: 100%;
        margin-bottom: 40px;
    }
}

@media (max-width:475px) {
    .max-width {
        padding: 0 23px;
    }
    .home .home-content .text-2 {
        font-size: 35px;
    }
    .home .home-content .text-3 {
        font-size: 20px;
    }
    .home .home-content a {
        font-size: 10px;
        padding: 4px 10px;
    }
}

@media (max-width:575px) {
    .home .home-content .text-3 {
        font-size: 20px;
    }
    .home .home-content a {
        font-size: 12px;
        padding: 5px 12px;
    }
    .skills .skills-content .column .text {
        font-size: 20px;
    }
}

@media (max-width:600px) {
    .services .serv-content .card {
        width: 100%;
    }
}

@media (max-width:315px) {
    .max-width {
        padding: 0 10px;
    }
    .home .home-content .text-2 {
        font-size: 35px;
    }
    .home .home-content .text-3 {
        font-size: 15px;
    }
}

@media(max-width:924px) {
    .about .about-content .column {
        width: 50%;
    }
    .about .about-content .left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px
    }
    .about .about-content .right {
        flex: 100%
    }
}

@media(max-width:548px) {
    .about .about-content .right .text {
        font-size: 17px;
    }
}

@media(max-width:380px) {
    .about .about-content .right .text {
        font-size: 12px;
    }
    .skills .skills-content .column .text {
        font-size: 15px;
        font-weight: 600;
    }
}